body {
    background: url('../assets/img/bglogin.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#layoutAuthentication {
    width: 100%;
}

.card {
    border-radius: 15px;
    background-color: #ffffff; /* Warna solid putih */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    transition: transform 0.2s, box-shadow 0.2s; /* Animasi untuk hover */
}

.card:hover {
    transform: translateY(-5px); /* Efek melayang */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Shadow lebih besar saat hover */
}


.card-header {
    background-color: #000000;
    color: white;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
}

.card-footer {
    background-color: transparent;
}

form input {
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #000000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
